<!DOCTYPE html>
<html>
<head>
<title>eventHUD</title>
</head>
<body>
  <h1><a href='/'>eventHUD</a></h1>
  <%- body -%>
  <footer>
    <p>Made by <a href='http://andrew.github.io'>Andrew Nesbitt</a></p>
  </footer>
</body>
</html>